user_id: "foobar-2313221-barfoo-321322-foobar"
access_token: "foobarbarfoo-token"
client_version: "5.12.1"
api_version: "1"
user_agent: "Revolut/com.revolut.revolut (iPhone; iOS 11.1)"
device_id: "SOME-DEVICE-ID"
device_model: "iPhone8,1"