---
http_interactions:
- request:
    method: get
    uri: https://www.revolut.com/api/quote/internal?symbol=XRPUSD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '[{"from":"BTC","to":"USD","rate":6589.0336937937,"timestamp":1535200410299},{"from":"ETH","to":"USD","rate":274.23714639115,"timestamp":1535200410299},{"from":"LTC","to":"USD","rate":56.6497541683,"timestamp":1535200410299},{"from":"XRP","to":"USD","rate":0.320474478,"timestamp":1535200410299}]'
  recorded_at: Sat, 25 Aug 2018 12:33:31 GMT
recorded_with: VCR 4.0.0
