---
http_interactions:
- request:
    method: post
    uri: https://api.revolut.com/signin/confirm
    body:
      encoding: UTF-8
      string: '{"phone":"+1555555555","code":"213372"}'
    headers:
      X-Client-Version:
      - 5.12.1
      X-Api-Version:
      - '1'
      X-Device-Id:
      - DEVICE_ID
      X-Device-Model:
      - iPhone8,1
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"user":{"id":"USER_ID","createdDate":1535143780000,"address":{"city":"Beverly Hills","country":"US","postcode":"90210","region":"California","streetLine1":"Sunset Boulevard"},"birthDate":[2008,10,31],"firstName":"Satoshi","lastName":"Nakamoto","phone":"+1555555555","email":"satoshi@bitcoin.org","emailVerified":true,"state":"ACTIVE","referralCode":"BTFO","kyc":"PASSED","termsVersion":"2018-09-20","underReview":false,"riskAssessed":false,"locale":"en-GB","sof":{"state":"APPROVED"}},"wallet":{"id":"wallet-12345","ref":"111111111","state":"ACTIVE","baseCurrency":"EUR","totalTopup":10000,"topupResetDate":1535143780000,"pockets":[{"id":"eur-pocket-1111111","type":"CURRENT","state":"ACTIVE","currency":"EUR","balance":10000,"blockedAmount":0,"closed":false,"creditLimit":0},{"id":"gbp-pocket-1111111","type":"CURRENT","state":"ACTIVE","currency":"GBP","balance":0,"blockedAmount":0,"closed":false,"creditLimit":0},{"id":"usd-pocket-1111111","type":"CURRENT","state":"ACTIVE","currency":"USD","balance":0,"blockedAmount":0,"closed":false,"creditLimit":0},{"id":"sek-pocket-1111111","type":"CURRENT","state":"ACTIVE","currency":"SEK","balance":0,"blockedAmount":0,"closed":false,"creditLimit":0},{"id":"ltc-pocket-1111111","type":"CURRENT","state":"ACTIVE","currency":"LTC","balance":0,"blockedAmount":0,"closed":false,"creditLimit":0},{"id":"btc-pocket-1111111","type":"CURRENT","state":"ACTIVE","currency":"BTC","balance":0,"blockedAmount":0,"closed":false,"creditLimit":0},{"id":"eth-pocket-1111111","type":"CURRENT","state":"ACTIVE","currency":"ETH","balance":0,"blockedAmount":0,"closed":false,"creditLimit":0}]},"accessToken":"ACCESS_TOKEN"}'
  recorded_at: Fri, 24 Aug 2018 20:14:02 GMT
recorded_with: VCR 4.0.0
