---
http_interactions:
- request:
    method: get
    uri: https://api.revolut.com/user/current/cards
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Client-Version:
      - 5.12.1
      X-Api-Version:
      - '1'
      X-Device-Id:
      - DEVICE_ID
      X-Device-Model:
      - iPhone8,1
      Authorization:
      - BASIC_AUTH
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":"card-id-1","ownerId":"USER_ID","lastFour":"1337","brand":"visa","expiryDate":{"month":1,"year":2028},"expired":false,"threeDVerified":true,"address":{"city":"Beverly Hills","country":"US","postcode":"90210","region":"California","streetLine1":"Sunset Boulevard"},"postcode":"90210","issuer":{"bin":"111111","name":"BITCONE BANK","cardType":"DEBIT","cardBrand":"VISA","country":"US","currency":"EUR","supported":true,"fee":0.0000,"postcodeRequired":false},"currency":"EUR","confirmed":false,"confirmationAttempts":0,"autoTopup":"AVAILABLE","createdDate":1535186558000,"updatedDate":1535186558000,"associatedBankType":"UNSUPPORTED","lastUsedDate":1535186558000,"currentTopup":10000,"creditRepayment":false}]'
  recorded_at: Sat, 25 Aug 2018 08:38:00 GMT
recorded_with: VCR 4.0.0
